.box {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40px;
  right: -400px;
  background-color: rgb(231 232 233 / 90%);
  padding: 24px;
  width: 400px;
  font-size: 24px;
  transition: transform cubic-bezier(0.39, 0.575, 0.565, 1) 1000ms;
  border-radius: 8px;
}

.show {
  transform: translateX(-400px);
}

.hide {
  transform: translateX(400px);
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  width: 100%;
}

.item {
  border: 1px solid black;
  padding: 12px 36px;
  margin: 6px;
  width: 100%;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
